@page "/announcements"
@inject HttpClient HttpClient
@using Microsoft.AspNetCore.Authorization


<h3>Add custom announcement</h3>

<div class="center">
    <label for="inputValue">URL:</label>
    <input type="text" id="inputValue" @bind="@InputValue"/>

    <br />
    <br />
    
    <button @onclick="AddAnnouncement">Add Announcement</button>
    
    <br />
</div>

@if (!string.IsNullOrEmpty(Result))
{
    <p>Result: @Result</p>
}

@code {
    private static string? InputValue { get; set; }
    private string? Result { get; set; }
    
   //@attribute [Authorize(Roles = "admin")]

    private async Task AddAnnouncement()
    {
        var response = await HttpClient.GetStringAsync($"api/functions/CustomMediaPostsTrigger?url={InputValue}");
        Result = response;
    }
}