@page "/announcements"
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization

<h3>Add custom announcement</h3>

<div class="center">
    <label for="inputValue">URL:</label>
    <input type="text" id="inputValue" @bind="@InputValue"/>

    <br />
    <br />
    
    <button @onclick="AddAnnouncement">Add Announcement</button>
    
    <br />
</div>

@if (!string.IsNullOrEmpty(Result))
{
    <p>Result: @Result</p>
    <p>Status Code: @StatusCode</p>
}

@code {
    
//@attribute [Authorize(Roles = "admin")]
    private static string? InputValue { get; set; }
    private string? StatusCode { get; set; }
    private string? Result { get; set; }

    private async Task AddAnnouncement()
    {
        //TODO: sprawdzic input value czy nie jest puste i czy to jest poprawny url

        try
        {
            HttpContent requestBody = new StringContent($"${{\"url\": \"{InputValue}\"}}");
            var response = await Http.PostAsync("/api/AnnouncementFunction", requestBody);

            Result = await response.Content.ReadAsStringAsync();
            StatusCode = response.StatusCode.ToString();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

}